<div class="default-banner">
  <%= image_tag("quero-legenda.png", class:"main-logo") %>
  <h2 class="help-translate">Todos os vídeos do Youtube em sua língua nativa!</h2>
</div>

<section class="row-fluid default-access">
  <div class="container">
    <div class="span6">
      <a href="#" class="def-link gift-file">
        <h2>Quero uma legenda</h2>
        <p class="def-link-desc">Você gosta muito de um vídeo, mas não consegue entende-lo, pois o mesmo não está em sua língua nativa e nem possui legendas? Não se preocupe. Nós te ajudamos nisso! Informe o link do vídeo, o idioma da legenda desejada e pronto! Nós conectamos você com pessoas dispostas a te ajudar!</p>
      </a>
    </div>
    <div class="span6">
      <a href="#" class="def-link gift-search">
        <h2>Quero legendar</h2>
        <p class="def-link-desc">Melhore seu conhecimento em um idioma e de quebra ajude milhares de pessoas a curtir vídeos no Youtube com legendas especiais. Nós te mostramos quais são os vídeos do Youtube que as pessoas mais desejam legendas. Você seleciona um deles, coloca a mão na massa e garante a diversão de muita gente!</p>
      </a>
    </div>
  </div>
</section>

<section class="row-fluid what-gift-card">
  <div class="container">
    <div class="span6 offset1">
      <header class="box-title">
        <h2 class="main-title">Aprimore seu conhecimento em um <strong>idioma</strong> e garanta a diversão dos seus amigos!</h2>
      </header>
      <section>
        <p>Para ajudar a quebrar as barreiras existentes entre diferentes idiomas, legendas são fundamentais. O uso delas também garante acessibilidade para deficientes auditivos! Faça parte: aprenda, compartilhe e divirta-se! </p>
      </section>
      <footer>
      <%= link_to "Saiba mais :)", nil, class: "btn btn-success btn-large" %>
      </footer>
    </div>
  </div>
</section>

<section class="row-fluid start-now">
  <div class="container">
    <div class="span12">
      <header class="box-title">
        <h2 class="main-title">Os vídeos <strong>sem legenda</strong> mais acessados!</h2>
        <h3 class="sub-title">Que tal começar a traduzir algum desses? ;)</h3>
      </header>
      <section class="videos-most-accessed">
        <% @most_viewed.videos.each do |video| %>
          <article class="video-item">
            <%= link_to(image_tag(video.thumbnails.first.url, class: "video-thumb"), "##{video.unique_id}", data: { toggle: "modal" }) %>
            <%= link_to video.player_url, class: "video-link" do %>
              <%= content_tag :h4, video.title, class: "video-name" %>
            <% end %>
            <div id="<%= video.unique_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><%= video.title %></h3>
              </div>
              <div class="modal-body">
                <%= video.embed_html.html_safe %>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
              </div>
            </div>
            <div class="video-enroll">
            <%= simple_form_for @subtitle, url: :new_subtitles do |f| %>
              <%= f.input :url, input_html: { value: video.unique_id }, as: :hidden %>
              <%= f.input :language, label: false, collection: ["Português","Inglês","Francês"], default: 1, input_html: {id: "language"} %>
              <%= f.submit "Eu quero legenda!", class: "btn btn-primary" %>       
          <% end %>
            </div>
          </article>
        <% end %>
      </section>
    </div>
  </div>
</section>
